%h1 Your channels
= link_to 'Want another one?', new_channel_path

%table
  %tr
    %th
    %th
      
  - @channels.each do |channel|
    %tr
      %td= link_to channel.name, channel
      %td= link_to 'Destroy', channel, :confirm => 'Are you sure?', :method => :delete

