@import "compass/utilities";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/color";
@import "compass/layout/sticky-footer";

$nav-bar-height: 33px;
$sticky-footer-height: 50px;

$orange: #FF9700;
$dark-blue: #1F273F;
$light-blue: #445172;

@include sticky-footer($sticky-footer-height, ".container", ".container_footer", ".footer");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-family: Arial;
}

.nav_wrapper {
  top: 0;
  width: 100%;
  position: fixed;
  background: $dark-blue;
  height: $nav-bar-height;
  border-bottom: 5px solid $orange;

  .nav_bar {
    padding-top: 5px;
    padding-bottom: 50px;

    .app_name {
      width: 16%;
      float: left;

      a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
      }
    }

    .nav_links {
      width: 84%;
      float: right;
      text-align: right;

      a {
	color: #ddd;
	font-size: 120%;
	padding-right: 5px;
	padding-left: 5px;
      }
    }
  }
}

.container {
  width: 100%;
  padding-top: $nav-bar-height + 5px;
  width: 100%;
  min-height: 100%;
  background: #fff;

  .sidebar {
    width: 16%;
    position: fixed;
    right: 0px;
    height: 100%;
    background: $light-blue;
    color: #DDD;

    .users_title, .rooms_title {
      font-size: 14px;
      @include linear-gradient(color-stops(#CCC, #CCC, white), bottom);
      color: $dark-blue;
      font-weight: bold;
      text-align: right;
      padding-right: 5px;
    }
    
    .users {
      .selected {
	font-style: italic;
      }
      .user {
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	color: #DDD;
      }
    }

    .rooms {
      margin-bottom: 10px;
      .selected {
	background: $orange;
	color: #fff;
      }

      .room {
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	color: #DDD;
      }
    }
  }

  .container_footer {
    clear: both;
  }
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  background: #fff;

  .chatbox {
    width: 84%;
    float: left;

    #message_content {
      margin: 5px;
      font-size: 13px;
      height: 40px;
      width: 98%;
      margin-right: 10px;
      @include linear-gradient(color-stops(white, white, #DDD), bottom);
      @include border-radius(4px);
    }
  }

  .actions {
    width: 16%;
    float: right;
    margin-top: 10px;
  }
}
