@import "compass/utilities";
@import "blueprint/liquid";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/utilities/color";
@import "compass/layout/sticky-footer";

$blueprint-liquid-grid-columns: 16;
$blueprint-liquid-container-width: 80%;
$nav-bar-height: 33px;
$sticky-footer-height: 50px;

$orange: #FF9700;
$dark-blue: #1F273F;
$light-blue: #445172;

@include sticky-footer($sticky-footer-height, ".container", ".container_footer", ".footer");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-family: Arial;
}

.nav_wrapper {
  top: 0;
  width: 100%;
  position: fixed;
  background: $dark-blue;
  height: $nav-bar-height;
  border-bottom: 5px solid $orange;

  .nav_bar {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 50px;

    .app_name {
      @include column(4);

      a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
      }
    }

    .nav_links {
      @include column(20, last);
      text-align: right;

      a {
	color: #ddd;
	font-size: 120%;
	padding-right: 5px;
	padding-left: 5px;
      }
    }
  }
}

.container {
  @include container;
  padding-top: $nav-bar-height;
  width: 100%;
  min-height: 100%;
  background: #fff;

  .container_footer {
    clear: both;
  }
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  background: #fff;

  .chatbox form {
    @include column(20);

    #message_content {
      margin: 5px;
      font-size: 13px;
      height: 30px;
      width: 99%;
      margin-right: 10px;
      @include linear-gradient(color-stops(white, white, #DDD), bottom);
      @include border-radius(4px);
    }
  }

  .options {
    @include column(4, last);
  }
}
