@import "blueprint/liquid";

$self_message_color: #FFFFCC;
$announcement_message_color: #CCCCFF;

#message_content {
  width: 100%;
}

.me {
  background: $self_message_color;
}

.announcement {
  background: $announcement_message_color;
}

.youtube-preview img {
  width: 300px;
}

.image-embed img {
  width: 300px;
}

.messages {
  @include column(20);

  .message-holder {
    bottom: 1px dotted gray;
    padding: 3px;

    .message-meta {
      .message-time {
	color: #666;
	font-size: 10px;
      }
      .message-author {
	font-weight: bold;
      }
    }

    .message-content {
      padding-left: 10px;
    }
  }
}