@import "compass/css3";

$self_message_color: #FFFFCC;
$announcement_message_color: #CCCCFF;

.me {
  background: $self_message_color;
}

.announcement {
  background: $announcement_message_color;
}

.youtube-preview img {
  width: 300px;
}

.image-embed img {
  width: 300px;
}

.pastie {
  background: #DDD;
  .pastie-link {
    color: #0066CC;
    @include border-radius(3px);
    padding: 3px;
    &:hover {
      background: #0066CC;
      color: #FFF;
    }
  }
}

.messages {
  width: 84%;
  float: left;
  @include single-box-shadow;

  .message-holder {
    bottom: 1px dotted gray;
    padding: 3px;

    .message-meta {
      .message-time {
	color: #666;
	font-size: 10px;
      }
      .message-author {
	font-weight: bold;
      }
    }

    .message-content {
      padding-left: 10px;
    }
  }
}